Django==4.2.30
djangorestframework
djangorestframework-simplejwt
django-cors-headers
dj-database-url
psycopg2-binary
whitenoise
gunicorn
python-dotenv
setuptools
geoip2
geopy
user-agents
requests
PyMySQL==1.1.1